{
  // note: remove the `.template` extension and these commands
  // make a new app at `https://developer.spotify.com/dashboard` and get the client secret/id from there.
  "spotify client secret": "",
  "spotify client id": "",
  "update seconds": 1,
  "window center pos": [
    0,
    0
  ],
  "window size": [
    534,
    300
  ],
  "font size": 20,
  "seperation size": 15,
  "debug mode": false,
  "debug line": false,
  "save lyrics": false
}