andreaw_utilities @ git+https://github.com/andrewthederp/Andreaws_utility_lib@dddc86f967eb173f83220d58df76c4528c3682e8
arcade==3.3.2
attrs==25.3.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
idna==3.10
joblib==1.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
pillow==11.0.0
pycparser==2.22
pyglet==2.1.6
Pygments==2.19.2
pylette==4.1.0
pymunk==6.9.0
pyperclip==1.9.0
pytiled_parser==2.2.9
redis==6.2.0
requests==2.32.3
rich==14.1.0
scikit-learn==1.7.1
scipy==1.16.1
shellingham==1.5.4
spotipy==2.25.1
threadpoolctl==3.6.0
typer==0.12.5
typing_extensions==4.14.1
urllib3==2.5.0